@{
    ViewData["Title"] = "Profile";
}
@* <h1>@ViewData["Title"]</h1> *@

<div class="left-sidebar">
    <div>
        <section class="timeline-section">
            <h3>Career Timeline</h3>
            <div class="timeline-container">
                <div class="timeline-item ">
                    <div class="timeline-content study">
                        <h3>Sep 2022 - Sep 2024 <i class="fa-solid fa-graduation-cap icon"></i></h3>
                        <h4>Master's Degree in Computer Science and Information Engineering ー Fukuoka Institute of
                            Technology, Japan</h4>
                    </div>
                </div>
                <div class="timeline-item">
                    <div class="timeline-content study">
                        <h3>Sep 2021 - Sep 2022 <i class="fa-solid fa-graduation-cap icon"></i></h3>
                        <h4>Non Degree ー Fukuoka Institute of Technology, Japan</h4>
                    </div>
                </div>
                <div class="timeline-item">
                    <div class="timeline-content">
                        <h3>Nov 2020 - Jun 2021</h3>
                        <h4>Test Engineer ー Focuz Manufacturing Co., Ltd.</h4>
                        <p>Developed test cases, conducted tests, analyzed results, and created final test procedures
                            and reports for quality technicians based on customer product requirements.</p>
                    </div>
                </div>
                <div class="timeline-item">
                    <div class="timeline-content">
                        <h3>Nov 2019 - Oct 2020</h3>
                        <h4>Frontend Developer ー Frontis Company</h4>
                        <p>Collaborated on designing and implementing a responsive web app. Validated
                            all user inputs before back-end submission and used Selenium for unit testing. <strong>ー
                                Link to <a href="https://www.sec.or.th/TH/Pages/Home.aspx/">SEC</a> | <a
                                    href="https://bizportal.go.th/">Biz Portal</a></strong>
                        </p>
                    </div>
                </div>
                <div class="timeline-item">
                    <div class="timeline-content study">
                        <h3>Aug 2015 - Jun 2019 <i class="fa-solid fa-graduation-cap icon"></i></h3>
                        <h4>Bachelor of Engineering in Biomedical Engineering ー King Mongkut's Institute of Technology
                            Ladkrabang, Thailand</h4>
                    </div>
                </div>
                <div class="timeline-item">
                    <div class="timeline-content">
                        <h3>Jun 2018 - Nov 2018</h3>
                        <h4>Field Application Engineer (Internship) ー Silicon Craft Technology PLC</h4>
                        <p>Analyzed large data sets for bias correction and prediction to improve the NFC project
                            performance on an Android mobile app.</p>
                    </div>
                </div>
                <div class="timeline-item">
                    <div class="timeline-content">
                        <h3>Jun 2017 - Jul 2017</h3>
                        <h4>Biomedical Engineering Service (Internship) ー Bangkok Hospital</h4>
                        <p>Developed technical protocols, managed and calibrated biomedical equipments aligned with
                            hospital objectives.</p>
                    </div>
                </div>
            </div>
        </section>
    </div>



    <div class="profile-left">
        <div class="head-left">
            </br>
            <img src="../images/Profile.jpg" alt="Thunrada"></br>
            <h2>Thunrada Thaiwong</h2>
            <h5 class="position">- Developer -</h5></br>
        </div>
        <div class="content-left" contenteditable="true">I am an enthusiastic individual with a strong interest in web
            application development. <strong>Thus, I am currently seeking for a position as a developer or in
                related role.</strong>
        </div>
        <div class="contact-list">
            <p><i class="fa-solid fa-phone icon"></i>(+66) 81-735-0345</p>
            <p><i class="fa-regular fa-envelope icon"></i>tw.thunrada@gmail.com</p>
            <p><i class="fa-solid fa-location-dot icon"></i>Khon Kaen, Thailand</p>
        </div>
        <div class="download-section" style=" text-align: center;">
            <button><a href="https://drive.google.com/file/d/14SghdEBRDGtPlw1UAkYGJ8eF5f69485C/view?usp=sharing"
                    download><i class="fa-solid fa-download"></i>RESUME</a></button>
            <button><a href="http://line.me/ti/p/~ifunnph"><i class="fa-brands fa-line"></i>LINE</a></button>
        </div>
        </br>


        <i class="fa-solid fa-code icon-code"></i></br>
        <img class="prog-icon" id="c" src="../images/programming/c.png">
        <img class="prog-icon" id="cs" src="../images/programming/cs.png">
        <img class="prog-icon" id="java" src="../images/programming/java.png">
        </br>
        <img class="prog-icon" id="html" src="../images/programming/html.png">
        <img class="prog-icon" id="css" src="../images/programming/css.png">
        <img class="prog-icon" id="js" src="../images/programming/js.png">
        <img class="prog-icon" id="angular" src="../images/programming/angular.png">
    </div>
</div>
